$primary-color-smoky-black: #090C02;
$secondary-color-darkblack: #000000;

$primary-color-penn-red: #960200;
$secondary-color-mercury: #DCE0D9;

$primary-color-snow: #FFFBFE;
$secondary-color-gray: #FAFAFA;

$primary-color-alabaster: #E6EBE0;
$secondary-color-seasalt: #F7F9F9;

$zero : 0;

$padding-8 : 8px;
$padding-16 : 18px;
$padding-24 : 24px;


$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
