@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typograpgy" as *;
@use "../../styles/partials/variable" as *;

.card {
  display: flex;
  flex-direction: column;
  margin: 14px 4px;

  &__img-bk {
    border: 1px solid $secondary-color-gray;
    border-radius: 12px;
    background: white;
    filter: drop-shadow(0 0 0.8rem rgb(223, 223, 223));
    height: 250px;
    margin: 4px;
  }

  &__img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 12px;
    background-color: $secondary-color-gray;
  }

  &__details {
    box-sizing: border-box;
    padding: 8px;
  }

  &__title {
    font-size: 1.5rem;
    margin: 4px 0;
  }


  



}
