@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typograpgy" as *;
@use "../../styles/partials/variable" as *;

.app {
    display: flex;
    flex-direction: row;
    height: 100vh;
    box-sizing: border-box;
    background: $secondary-color-gray ;
    &__drawer{
        width: 15% ;
        @include tablet {
            width: 10%;
        }
        @include desktop {
            width: 20%;
        }
    }

    &__body{
        width: 85%;
        display: flex;
        justify-content: center;
        @include tablet {
            width: 90%;
        }
        @include desktop {
            width: 80%;
        }
    }
    

}